/*.flexRow1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flexRow2 {
    display: flex;
    align-items: flex-start;
  }
  .flexRow17:not(:last-of-type) {
    margin-bottom: 50px;
  }
  .flexRow18:not(:last-of-type) {
    margin-right: 40px;
  }
*/
 .root {
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 21, 21);
    outline: 1px solid rgb(0, 0, 0);
    outline-offset: -1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
    position: relative;
    overflow: hidden;
    min-height: 4792px;
  }
  .rect {
    background-color: rgb(21, 21, 21);
    height: 1372px;
    position: absolute;
    bottom: -51px;
    left: 196px;
    right: -208px;
  }
  .flexCol {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    flex-grow: 1;
    margin: 86px auto 727px;
  }
  .flexCol1 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 25px 0px 6px;
  }
  .flexCol2 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .hero_title1 {
    position: relative;
    font: 700 96px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(40, 154, 166);
    letter-spacing: 0px;
  }

  .flexRow {
    max-width: 1920px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 0px;
  }

  .flexRow > .cell {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 519px;
  }
  .image2 {
    width: 100%;
    height: auto;
    aspect-ratio: 0.72;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
    position: relative;
    margin: 221px 0px 0px;
  }
  .flexRow > .spacer {
    flex: 0 1 129px;
  }
  .flexCol3 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 842px;
  }
  .highlights1 {
    display: flex;
    justify-content: flex-end;
    font: 700 16px/1.18 "Inter", Helvetica, Arial, serif;
    color: rgb(40, 154, 166);
    text-align: right;
    letter-spacing: 0px;
    position: relative;
    margin: 0px 10px;
  }
  .flexCol3 > .cell {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .image1 {
    width: 100%;
    height: auto;
    aspect-ratio: 0.92;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
    position: relative;
    margin: 8px 0px 0px;
  }
  .flexCol4 {
    display: flex;
    flex-direction: column;
    width: 67.77%;
    position: relative;
    margin: 53px 14.02% 0px 18.21%;
  }
  .hero_title {
    display: flex;
    justify-content: center;
    font: 700 48px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(40, 154, 166);
    text-align: center;
    letter-spacing: 0px;
    position: relative;
    min-height: 67px;
  }
  .highlights {
    display: flex;
    justify-content: center;
    font: 400 16px/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0px;
    position: relative;
    min-height: 121px;
    margin: 10px 4px 0px 20px;
  }
  .flexCol5 {
    display: flex;
    flex-direction: column;
    width: 78.26%;
    position: relative;
    margin: 0px 8.07% 0px 13.67%;
  }
  .flexCol6 {
    display: flex;
    flex-direction: column;
    width: 90.85%;
    position: relative;
    margin: 0px 6.66% 0px 2.5%;
  }
  .hero_title2 {
    display: flex;
    justify-content: center;
    font: 700 48px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(40, 154, 166);
    text-align: center;
    letter-spacing: 0px;
    position: relative;
  }
  .highlights2_box {
    display: flex;
    justify-content: center;
    width: 91.21%;
    position: relative;
    margin: 33px 2.11% 0px 6.68%;
  }
  .highlights2 {
    font: 400 16px/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0px;
  }
  .highlights2_span0 {
    font: 1em/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: 0px;
  }
  .highlights2_span1 {
    font: 1em/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-style: normal;
    letter-spacing: 0px;
  }
  .highlights2_span2 {
    font: 1em/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: 0px;
  }
  .highlights2_span3 {
    font: 1em/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-style: normal;
    letter-spacing: 0px;
  }
  .highlights2_span4 {
    font: 1em/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: 0px;
  }
  .highlights2_span5 {
    font: 1em/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-style: normal;
    letter-spacing: 0px;
  }
  .highlights2_span6 {
    font: 1em/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: 0px;
  }
  .highlights2_span7 {
    font: 1em/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-style: normal;
    letter-spacing: 0px;
  }
  .highlights2_span8 {
    font: 1em/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: 0px;
  }
  .flexCol7 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 44px 0px 0px;
  }
  .hero_title3 {
    font: 700 48px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(40, 154, 166);
    letter-spacing: 0px;
    width: 44.93%;
    position: relative;
    margin: 0px auto;
  }
  .flexRow1 {
    display: flex;
    align-items: center;
    position: relative;
    margin: 54px 0px 0px;
  }
  .box {
    display: flex;
    flex-direction: column;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
    position: relative;
    flex: 0 1 270px;
  }
  .box > .cell {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .image3 {
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
    width: 100%;
    height: auto;
    aspect-ratio: 1.59;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
    position: relative;
  }
  .flexCol8 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 18px 0px;
  }
  .medium_title1 {
    font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
    margin: 0px 38px 0px 39px;
  }
  .highlights3 {
    display: flex;
    justify-content: center;
    font: 400 16px/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0px;
    position: relative;
    margin: 20px 0px 0px;
  }
  .box1 {
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 0);
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
    position: relative;
    margin: 69px 0px 0px;
  }
  .highlights4 {
    font: 400 16px/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
    flex-grow: 1;
    margin: 2px 36px 2px 37px;
  }
  .flexRow1 > .spacer {
    flex: 0 1 40px;
  }
  .box > .cell1 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .flexCol9 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 18px 0px;
  }
  .medium_title11 {
    font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
    margin: 0px 37px 0px 38px;
  }
  .box > .cell2 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .flexCol10 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 10px 0px;
  }
  .medium_title12 {
    font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
    margin: 0px 27px 0px 28px;
  }
  .box > .cell3 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .flexCol11 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 18px 0px;
  }
  .medium_title13 {
    font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
    margin: 0px 27px 0px 28px;
  }
  .highlights5 {
    font: 400 16px/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
    margin: 20px 0px 0px;
  }
  .flexRow2 {
    display: flex;
    align-items: center;
    position: relative;
    margin: 50px 0px 0px;
  }
  .box > .cell4 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .flexCol12 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 10px 0px;
  }
  .medium_title14 {
    font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
    margin: 0px 37px 0px 37px;
    
  }
  .flexRow2 > .spacer {
    flex: 0 1 40px;
  }
  .box > .cell5 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .flexCol13 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 10px 0px;
  }
  .medium_title15 {
    font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
    margin: 0px 37px 0px 37px;
  }
  .highlights6 {
    font: 400 16px/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
    margin: 20px 0px 0px 40px;
  }
  .box3 {
    display: flex;
    flex-direction: column;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
    position: relative;
    flex: 0 1 272px;
  }
  .box3 > .cell {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .image31 {
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
    width: calc(100% - 2px);
    height: auto;
    aspect-ratio: 1.59;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
    position: relative;
    margin: 0px 1px;
  }
  .flexCol14 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 5px 0px 5px;
  }
  .medium_title16 {
    font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
    margin: 20px 30px 0px 35px;
  }
  .box11 {
    display: flex;
    flex-direction: column;
    background-color: 400 16px/1.29 "Inter", Helvetica, Arial, serif;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
    position: relative;
    margin: 69px 1px 0px;
  }
  .box > .cell6 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .flexCol15 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 25px 0px 25px;
  }
  .medium_title17 {
    font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
    margin: 0px 19px 0px 18px;
  }
  .flexCol16 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 55px 0px 0px;
  }
  .flexCol17 {
    display: flex;
    flex-direction: column;
    width: 65.1%;
    position: relative;
    margin: 0px 14.71% 0px 20.18%;
  }
  .hero_title4 {
    display: flex;
    justify-content: flex-end;
    font: 700 48px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(40, 154, 166);
    text-align: right;
    letter-spacing: 0px;
    width: 81.6%;
    position: relative;
    margin: 0px auto;
  }
  .content_box {
    display: flex;
    flex-direction: column;
    background: var(--src) center center / cover no-repeat;
    position: relative;
    margin: 43px 0px 0px;
  }
  .image {
    width: 80px;
    height: auto;
    aspect-ratio: 1.31;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
    position: relative;
    min-width: 80px;
    margin: 220px auto 219px;
  }
  .flexRow3 {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0px 0px;
  }
  .flexCol18 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 424px;
    margin: 0px 0px 6px;
  }
  .flexCol18 > .cell {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .image4 {
    width: calc(100% - 47px);
    height: auto;
    aspect-ratio: 0.99;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
    position: relative;
    margin: 0px 26px 0px 21px;
  }
  .medium_title18 {
    display: flex;
    justify-content: center;
    font: 700 20px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
    margin: 22px 0px 0px;
  }
  .flexRow3 > .spacer {
    flex: 0 1 50px;
  }
  .flexCol19 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 583px;
  }
  .flexCol19 > .cell {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .image5 {
    width: 100%;
    height: auto;
    aspect-ratio: 1.53;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
    position: relative;
  }
  .medium_title19 {
    display: flex;
    justify-content: center;
    font: 700 20px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0px;
    width: 73.76%;
    position: relative;
    margin: 28px 10.29% 0px 15.95%;
  }
  .flexRow3 > .spacer1 {
    flex: 0 1 150px;
  }
  .flexCol20 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 205px;
    margin: 135px 0px 201px;
  }
  .medium_title {
    display: flex;
    justify-content: center;
    font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(40, 154, 166);
    text-align: center;
    letter-spacing: 0px;
    position: relative;
  }
  .flexCol21 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 2px 0px 0px;
  }
.highlights7 {
    font: 700 20px/1.29 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    position: relative;
  }
